@import '../../assets/scss/variables';

:host {
  background-color: $color-deep-purple;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .3);
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 100%;

  .title {
    align-items: center;
    color: $color-white;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
  }
}
