@import "../../assets/scss/variables";

$margin: 8px;
$padding: 12px;

:host {
  justify-content: space-between;
  background-color: $color-white;
  border-radius: 2px;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  margin: $margin;

  width: calc((100% - #{$margin} * 8) / 4);

  .title {
    cursor: pointer;
    flex-grow: 1;
    padding: $padding;
  }

  .subtitle {
    border-top: 1px solid lighten($color-grey, 30%);
    padding: $padding;
  }
}
