<div class="stories">
  <app-card
    *ngFor="let story of stories | async"
    [title]="story.title"
    subtitle="{{story.score}} points by {{story.author}} {{story.time * 1000 | fromNow}} | {{story.commentCount}} comments"
  >
  </app-card>
</div>

<app-button class="more" (click)="nextPage()" text="More"></app-button>
