@import '../../assets/scss/variables';

:host {
  .button {
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .1);
    cursor: pointer;
    padding: 10px;

    &.primary {
      background-color: $color-blue;
      color: $color-white;
    }
  }
}
