@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '~normalize.css';
@import '~reset-css/reset.css';
@import './assets/scss/variables';

body {
  background-color: lighten($color-grey, 30%);
}

* {
  font-family: 'Roboto', sans-serif;
}
